<html>
  

<center><div style=" width:25%">
    <h2>Please enter a new grade</h2>
    <br>
<%= form_for(@user, :url => { :action => "update" } ) do |f| %>

    
   
    <%= f.label "New Grade" %> <br>
    <%= f.text_field :tgrade, class: "form-control" %> <br>
    
    
   
    <br>
      <%= f.submit "Update Info", class: "btn btn-default" %>

<% end %>
</div></center>